.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# IDE and Editor
/.vscode/
/.idea/

package-lock.json
yarn.lock
# Logs
/logs
/.log
npm-debug.log*

# Environment Variables
.env
.env.local